<footer class="bg-dark text-light pt-5 pb-4">
  <div class="container">
    <div class="row">

      <div class="col-md-3 mb-4">
        <h5>Book Store</h5>
        
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Support</h6>
        <p class="small mb-0">New Capital, ITI Knowlegde City</p>
        <p class="small mb-0">Book Store&#64;gmail.com</p>
        <p class="small mb-0">(+20)120-358-8860</p>
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Account</h6>
        <ul class="list-unstyled small">
          <li><a routerLink="/login" class="text-light text-decoration-none">Login/Register</a></li>
          <li><a routerLink="/cart" class="text-light text-decoration-none">Cart</a></li>
          <li><a routerLink="/wishlist" class="text-light text-decoration-none">Wishlist</a></li>
          <li><a routerLink="/shop" class="text-light text-decoration-none">Shop</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="text-uppercase">Quick Links</h6>
        <ul class="list-unstyled small">
          <li><a routerLink="/privacy" class="text-light text-decoration-none">Privacy Policy</a></li>
          <li><a routerLink="/terms" class="text-light text-decoration-none">Terms of Use</a></li>
          <li><a routerLink="/faq" class="text-light text-decoration-none">FAQ</a></li>
          <li><a routerLink="/contact" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>

    </div>
    <hr class="bg-secondary" />
    <div class="text-center small">&copy; Copyright BookStore 2025. All rights reserved.</div>
  </div>
</footer>
