.container2{
    /* background-color:#092e4d; */
    background:linear-gradient(95deg ,#092e4d,#26608c) ;

  background-size: cover;
 
  min-height: 100vh;
}
.border-gold {
  border: 1px solid #ffd700 !important;
}

.text-gold {
  color: #ffd700;
}

.text-gold-dark {
  color: #c8a035;
}

.btn-gold {
  background-color: #d6b25c;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn-gold:hover {
  background-color: #b89445;
  transform: translateY(-2px);
}
.checkout-footer-img {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 250px;
  z-index: 1;
  opacity: 0.9;
  pointer-events: none;
  animation: moveSideways 5s ease-in-out infinite;
}

.checkout-footer-img img {
  width: 100%;
  height: auto;
  display: block;
}



@media (max-width: 768px) {
  .checkout-footer-img {
    max-width: 150px;
    opacity: 0.7;
  }
}

@keyframes moveSideways {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}