<div class="container">
  <h2>Checkout</h2>
  <p>Order ID: {{ orderId }}</p>
  <p>Total: {{ total | number:'1.2-2' }} EGP</p>
  
  <div id="paypal-button-container"></div>
  
  <button class="btn btn-secondary mt-2" (click)="returnToCart()">Back to Cart</button>
  <button class="btn btn-danger mt-2" (click)="cancelOrder()">Cancel Order</button>
  
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div *ngIf="showSuccessToast" class="alert alert-success mt-3">Operation successful!</div>
  <div *ngIf="showErrorToast" class="alert alert-danger mt-3">Operation failed!</div>
</div>

<!-- stripe -->
<!--  
 <h2>Your Order</h2>
<ul>
  <li *ngFor="let item of cartItems">
    {{ item.name }} - {{ item.price }}$
  </li>
</ul>
<button (click)="checkout()">Pay Now</button> -->
