<nav *ngIf="!showMinimalNav" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <i class="fas fa-book fs-1 mx-3"></i>
    <span class="navbar-brand">BookShop</span>

    <!-- Toggle button -->
    <button
    *ngIf="!isAdminRoute"
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Admin Notification Icon (no collapse) -->
    <ul class="navbar-nav ms-auto" *ngIf="isAdminRoute">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleNotificationPanel()">
          <i class="fas fa-bell fs-4 mx-5"></i>
        </a>
      </li>
    </ul>

    <!-- Main Collapse (for non-admin) -->
    <div
      *ngIf="!isAdminRoute"
      [ngClass]="{ 'collapse navbar-collapse': true, show: isNavbarOpen }"
      id="navbarContent"
    >
      <!-- Left Menu -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>

      <!-- Search Bar -->
      <form class="d-flex position-relative w-100 w-lg-auto my-2 my-lg-0">
        <input
          class="form-control me-2 search"
          type="text"
          placeholder="Search books..."
          (input)="onSearch($event)"
          [(ngModel)]="searchQuery"
          name="search"
          autocomplete="off"
        />

        <!-- Search Dropdown -->
        <ul
          *ngIf="searchResults.length > 0"
          class="list-group position-absolute top-100 start-0 w-100 zindex-dropdown shadow"
          style="max-height: 250px; overflow-y: auto;"
        >
          <li
            *ngFor="let book of searchResults"
            class="list-group-item list-group-item-action"
            (click)="goToBook(book._id)"
          >
            📘 {{ book.title }}
          </li>
        </ul>
      </form>

      <!-- Cart & Wishlist -->
      <ul class="navbar-nav ms-lg-3">
        <li class="nav-item position-relative">
          <a class="nav-link" routerLink="/cart">
            <i class="fa-solid fa-cart-shopping fs-5"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              *ngIf="cartCount > 0"
            >
              {{ cartCount }}
            </span>
          </a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link" routerLink="/wishlist">
            <i class="fas fa-heart fs-5"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              *ngIf="wishlistCount > 0"
            >
              {{ wishlistCount }}
            </span>
          </a>
        </li>
      </ul>

      <!-- Login/Logout -->
      <ul class="navbar-nav ms-3">
        <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
          <li class="nav-item">
            <button class="btn btn-outline-danger w-100" (click)="logout()">Logout</button>
          </li>
        </ng-container>
        <ng-template #loggedOut>
          <li class="nav-item mb-2">
            <a class="btn btn-outline-primary w-100" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-secondary w-100" routerLink="/register">Sign Up</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
