.container1 {
  background-image:url(./../../assets/cart-checkout/62c27b0b392c316714c96c7fbb5d043f.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cart-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  color: #f5f5dc;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(255, 215, 0, 0.2);
}

.cart-img {
  height: 160px;
  object-fit: contain;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.text-gold {
  color: #ffd700;
}

.gold-checkout-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 370px;
  height: 180px;
  background-image: url(./../../assets/cart-checkout/open_book-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 8px 20px rgba(255, 217, 0, 0.81);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 20px;
  border-radius: 54px;
    animation: pulseBook 3s ease-in-out infinite;
}
.page-content {
  text-align: center;
  position: relative;
  z-index: 2;
}
.page-content h6,
.page-content h5 {
  margin: 0;
}


.text-gold-dark {
  color: #387714;
}

.btn-gold {
    margin-bottom: 22px;
  background-color:#fcc80b;
   
  color:  
  #222204;
  border: none;
  font-weight: 700;
  transition: 0.3s;
   box-shadow: 0 8px 20px rgb(15, 13, 3);
}

.btn-gold:hover {
  background-color: #37c044;
  transform: translateY(-2px);
  color: #fcc80b;
}
.your-cart-title {
  font-family: 'Georgia', serif;
  font-size: 28px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 10px 20px;
  border-left: 5px solid #d4af37;
  border-radius: 4px;
  color: #ffd700;
  text-shadow: 1px 1px 4px black;
}
.empty-cart {
  border: 2px dashed #ffd700;
  border-radius: 10px;
  padding: 40px 20px;
  background-color: rgba(235, 200, 129, 0.263);
font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  text-align: center;
}
@keyframes pulseBook {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.5);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(255, 217, 0, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.5);
  }
}
