<div class="container1">
  <div class="container py-4">
    <h2 class="text-center mb-4 your-cart-title">
      <i class="fas fa-shopping-cart me-2"></i> Your Cart
    </h2>


    <div class="row">
      <!-- product card-->
      <div class="col-lg-8">
        <div *ngIf="cartItems.length > 0; else emptyCart">
          <div class="row g-4">
            <div *ngFor="let item of cartItems" class="col-md-6 col-xl-4">
              <div class="card cart-card border-0 shadow">
                <img [src]="item.imageUrl" class="card-img-top cart-img" alt="{{item.title}}">
                <div class="card-body p-3">
                  <h6 class="card-title mb-2 fw-bold text-gold">{{ item.title }}</h6>
                  <p class="mb-1 text-light"><strong>Price:</strong> {{ item.price }} EGP</p>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="text-light"><strong>Qty:{{ item.quantity }}</strong></span>
                    <div class="btn-group" role="group" aria-label="Quantity controls">
                      <button class="btn btn-sm btn-outline-light" (click)="decreaseQty(item)">
                        <i class="fas fa-minus"></i>
                      </button>
                      <span class="mx-2 text-light">{{ item.quantity }}</span>
                      <button class="btn btn-sm btn-outline-light" (click)="increaseQty(item)">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>


                  <button (click)="removeItem(item)" class="btn btn-sm btn-outline-light w-100">
                    <i class="fas fa-trash-alt me-1"></i> Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="height: 200px;"></div>

        <ng-template #emptyCart>
          <div class="text-center py-5 empty-cart">
            <i class="fas fa-box-open fa-3x text-warning mb-3"></i>
            <p class="text-light fs-5">Your cart is empty.</p>
          </div>
        </ng-template>

      </div>

      <!-- Checkout   -->
      <div class="gold-checkout-box">
        <div class="page-content">
          <h6 class="fw-semibold text-gold-dark mb-2">Total:</h6>
          <h5 class="text-success fw-bold mb-3">{{ getTotalPrice() }} EGP</h5>
          <button class="btn btn-gold w-100">
            <i class="fas fa-credit-card me-2"></i> Checkout
          </button>
        </div>
      </div>


    </div>
  </div>
</div>