<section class="container my-5">
    <!-- Related Items Header -->
    <div class="d-flex align-items-center gap-3 mb-4">
        <div class="category-bar"></div>
        <h4 class="text-danger fw-semibold m-0">Related Item</h4>
    </div>

    <!-- Related Products Grid -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        <!-- Product Card -->

        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <!-- Repeat .col for other products -->

    </div>
</section>