<section class="wishlist container my-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h2 class="wishlist-title">Wishlist (4)</h2>
        <button class="btn view-all-btn border border-dark px-4 py-2">
            View All Products
        </button>
    </div>

    <div class="row gy-4">
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
    </div>
</section>

<section class="wishlist container my-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h2 class="wishlist-title">Just For You</h2>
        <button class="btn view-all-btn border border-dark px-4 py-2">
            View All Products
        </button>
    </div>

    <div class="row gy-4">
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
        <div class="col-md-3">
            <app-book-card></app-book-card>
        </div>
    </div>
</section>