

.font-serif {
  font-family: Georgia, serif;
}
.sticky-sidebar {
  position: relative; 
 /* width: 280px; */
  overflow-y: auto;
  min-height: 100%; 
}
main {
  width: 280px;
  padding: 1.5rem;
  height: 100vh;
  overflow-y: auto;
}
.d-flex {
  align-items: stretch; 
}

.sidebar-link-active {
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.1);
  
}

aside {
    background-color: black;
  border-top-right-radius: 0.75rem; 
  border-bottom-right-radius: 0.75rem;
}


.sidebar-link-hover,
.sidebar-link-active,
.sidebar-link-hover:hover,
.sidebar-link-active:hover,
.sidebar-link-hover:visited,
.sidebar-link-active:visited {
  text-decoration: none !important;
  color: white;
}
.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

/* On hover */
.sidebar-link-hover:hover {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 400;
  transition: background-color 0.3s ease;
}
.sidebar-icon,
.sidebar-link-icon {
  width: 50px;
  height: 50px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.45); 
  border-color: transparent; 
}

button[type="submit"] {
  background-color: #3b82f6; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

button[type="submit"]:hover {
  background-color: #070707; 
  transform: scale(1.05); 
}
.sidebar-link {
  transition: background-color 0.3s ease, font-weight 0.2s ease;
}

.bg-orange-500 {
    background-color: #f97316;
}

.hover\:bg-orange-600:hover {
    background-color: #ea580c; 
}


main {
    flex-grow: 1; 
    overflow-y: auto; 
}


.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.a{
    color:black;
}

.notification-panel {
  position: fixed;
  top: 60px;
  right: 20px;
  width: 300px;
  background: white;
  z-index: 1050;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menue {
  top: 60px !important;
  margin: 10px;
  

}
@media (max-width:750px) {
  .menue {
  top: 52px !important;
  left: -12px !important;
  

}
}