@if (bookDetails) {
<div class="container my-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6">
            <div class="product-image-container">
                <img src="assets/book-covers/book-1.webp" [alt]="bookDetails.title" class="img-fluid product-image" />
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="fw-semibold mb-2">{{bookDetails.title}}</h2>

            <!-- Ratings -->
            <div class="d-flex align-items-center mb-3">
                <div class="d-flex me-3">
                    <app-rating></app-rating>
                </div>
            </div>

            <!-- Price -->
            <h4 class="fw-normal mb-3">
                {{ bookDetails.price.amount | currency: bookDetails.price.currency }}
            </h4>
            <!-- Description -->
            <app-description [description]="bookDetails.description"></app-description>
            <!-- Quantity & Buttons -->
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex border rounded me-3">
                    <button class="btn btn-outline-dark border-0">-</button>
                    <div class="px-3 py-2">2</div>
                    <button class="btn btn-outline-dark border-0">+</button>
                </div>
                <app-cart-btn></app-cart-btn>
                <app-wishlist-btn></app-wishlist-btn>
            </div>

            <!-- Delivery & Return Info -->
            <div class="border rounded p-3">
                <div class="d-flex mb-3">
                    <div class="me-3">
                        <i class="bi bi-truck icon-large"></i>
                    </div>
                    <div>
                        <div class="fw-medium">Free Delivery</div>
                        <div class="text-decoration-underline small">
                            Enter your postal code for Delivery Availability
                        </div>
                    </div>
                </div>
                <hr />
                <div class="d-flex">
                    <div class="me-3">
                        <i class="bi bi-arrow-counterclockwise icon-large"></i>
                    </div>
                    <div>
                        <div class="fw-medium">Return Delivery</div>
                        <div class="small">
                            Free 30 Days Delivery Returns. Details
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-related-books></app-related-books>
</div>
}