<div class="container-md">
    <div class="row">

        <div class="col-6">
            <img class="rounded" src="assets/book-covers/book-1.webp" alt="Book image">
        </div>
        <div class="col-6 card border-0">
            <div class="card-body">
                <h5 class="card-title">card title</h5>
                <!-- <div class="stars">
                    <fa-icon [icon]="star"></fa-icon>
                </div> -->
                <app-rating></app-rating>
            </div>
        </div>
    </div>
</div>